/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLE */
body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(25,25,25);

    user-select: none;
}

/* BUTTON STYLE */
button {
    margin-top: 20px;
    background-color: rgba(25, 25, 25, 0.576);
    color: white;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.864);
    border: 0;
    transition: background-color .5s ease;
}

button:hover {
    background-color: rgb(30,30,30,0.576);
}

/* HEADING STYLE */
h1 {
    color:white;
    text-shadow: 0 0 10px black;
    text-align: center;
    transition: text-shadow 1s ease;
}

h1:hover {
    text-shadow: 0 0 10px white;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure the background is behind the overlay */
}


/* Overlay styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

body.overlay-active {
    overflow: hidden;
}

/* Firefox container styles */
#main-container {
    width: 500px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.706);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.592);
    z-index: 1;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center content horizontally */
    justify-content: center;  /* Center content vertically */
}

#main-container:hover {
    background-color: rgba(0, 0, 0, 0.566);
    transform: scale(1.05);
}

/* SHORT CUT STUFF */

.shortcut-container {
    margin-top: 20px;

    display: inline-block;
    align-items: center;  /* Center content horizontally */
    justify-content: space-between;  /* Center content vertically */
}

/* Shortcut button styles */
.shortcut-button {
    display: inline-block;
    padding-top: 5px;
    margin: 5px;
    height: 30px;
    min-width: 50px;
    background-color: rgba(25, 25, 25, 0.576);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.864);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;

}

.shortcut-button:hover {
    background-color: rgb(30,30,30,0.576);
}

.menu input,
.menu button {
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    font-size: large;
    color: white;
    background-color: rgba(25, 25, 25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.864);
    margin: 5px;
    padding: 5px;
}

/* BACKGROUND STUFF */

.background-container {
    margin-top: 20px;

    display: inline-block;
    align-items: center;  /* Center content horizontally */
    justify-content: space-between;  /* Center content vertically */
}

/* Shortcut button styles */
.background-button {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    height: 20px;
    background-color: rgba(25, 25, 25, 0.576);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.864);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;

}

.background-button:hover {
    background-color: rgb(30,30,30,0.576);
}

/* menu styles */
.menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(37, 37, 37, 0.705);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.864);
    border-radius: 10px;
    height: 200px;
    width: 300px;
    z-index: 4;
}


/* Firefox icon styles */
.icon {
    height: 35px;
    width: 35px;
    align-items: center;
    transition: transform 1s;
}

.icon:hover {
    transform: rotate(360deg);
}

/* Search bar styles */
#search-bar {
    padding: 10px;
    padding-bottom: 10px; /* Adjust the value as needed */
    width: 300px;
    background-color: rgba(0, 0, 0, 0.462);
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.339);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.532);
    border-radius: 10px;
    outline: none;
    border: none;
    transition: width 0.5s, background-color 0.5s, box-shadow 1s, border-radius 1s;
}

#search-bar:hover {
    border-radius: 0px;
    background-color: rgba(20, 20, 20, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.864);
}

#search-bar:focus {
    width: 400px;
    background-color: rgba(15, 15, 15, 0.435);
}


/* SIDE BAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.713);
    box-shadow: 0 0 50px rgb(0, 0, 0);

    transition: all .3s ease-out;

}

.sidebar.close {
    width: 250px;
    opacity: 0;

    transition: all .3s ease-in;
}

.sidebar.close .side-menu {
    opacity: 0;

    transition: all .3s;
}


.sidebar header {
    position: relative;
    display: flex;
}

header .header-text {
    flex-direction: column;

}

header h1 {
    margin-top: 20px;
}

.bx-cog {
    animation: rotateAnimation 2s ease-out infinite; /* Adjust the duration and timing function as needed */
    margin-right: 10px;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
