/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: none;
}

/* Define primary and secondary colors */
:root {
    --primary-color: rgb(25, 25, 25);
    --secondary-color: rgba(25, 25, 25, 0.576);
    --button-color: white;
    --background-color: rgba(0, 0, 0, 0.706);
    --background-hover-color: rgba(0, 0, 0, 0.566);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --search-bar-image: linear-gradient(to right, rgb(25,25,25), rgb(35,35,35));
    --search-bar-hover-color: rgba(20, 20, 20, 0.4);
}

/* BODY STYLE */
body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-color);
    user-select: none;
}

.center {
    display:grid;
    align-items: center;
    justify-content: center;
}

/* BUTTON STYLE */
.button {
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--button-color);
    font-size: large;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.864);
    border: 0;
    transition: background-color .5s ease;
}

.button:hover {
    background-color: rgb(30, 30, 30, 0.576);
}

/* HEADING STYLE */
h1 {
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
    transition: text-shadow 1s ease;
}

h1:hover {
    text-shadow: 0 0 10px white;
}

p {
    color:white;
    text-shadow: 0 0 10px black;
    text-align: center;
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

p:hover {
    color: rgb(200,200,200);
    text-shadow: 0 0 15px white;
}

.title {
    margin-top: 5px;
}

hr {
    margin-top: 20px;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Overlay styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 3;
}

body.overlay-active {
    overflow: hidden;
}

/* container */
#main-container {
    width: 500px;
    position: relative;
    text-align: center;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.592);
    z-index: 1;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

#main-container:hover {
    background-color: var(--background-hover-color);
    transform: scale(1.05);
}

/* SHORT CUT STUFF */

.shortcut-container {
    margin-top: 20px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

/* Search bar styles */
#search-bar {
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    background-image: var(--search-bar-image);
    opacity: 0.1;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.339);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.532);
    border-radius: 10px;
    outline: none;
    border: none;
    transition: width 0.5s, opacity 0.5s,background-color 0.5s, box-shadow 1s, border-radius 1s;
}

#search-bar:hover {
    opacity: 0.7;
    border-radius: 5px;
    background-color: var(--search-bar-hover-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.864);
}

#search-bar:focus {
    opacity: 0.9;
    width: 400px;
    border-radius: 2.5px;
    background-color: rgba(15, 15, 15, 0.435);
}

/* Shortcut button styles */
.shortcut-button {
    display: inline-block;
    padding-top: 5px;
    margin: 5px;
    height: 30px;
    min-width: 50px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.864);
    color: var(--button-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.menu input, .menu button {
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    font-size: large;
    color: var(--button-color);
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.864);
    margin: 5px;
    padding: 5px;
}

/* menu styles */
.menu {
    position: absolute;
    display:grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.705);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.864);
    border-radius: 10px;

    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    z-index: 4;
}

/* Firefox icon styles */
.icon {
    height: 35px;
    width: 35px;
    align-items: center;
    transition: transform 1s;
}

.icon:hover {
    transform: rotate(360deg);
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.713);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    transition: all .3s ease-out;
}

.sidebar.close {
    width: 250px;
    opacity: 0;
    transition: all .3s ease-in;
}

.sidebar.close .side-menu {
    opacity: 0;
    transition: all .3s;
}

.sidebar header {
    position: relative;
    display: flex;
}


.bx-cog {
    animation: rotateAnimation 2s ease-out infinite;
    margin-right: 10px;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* SIDEBAR GALLERY | BACKGROUND */

#side-menu-gallery {
    overflow-y:scroll;
    overflow-x:hidden;  
    padding-left: 5px;
    max-height: 1200px;
}

#side-menu-background-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

/* Shortcut button styles */
.background-button {
    display:flex;
    
    width: 180px;
    height: 120px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    object-fit: cover;
    flex-wrap: wrap;
    margin-top: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.864);
    border-radius: 15px;
    transition: all 0.3s;
}

.button:hover, .shortcut-button:hover {
    background-color: rgb(30, 30, 30, 0.576);
    transform: scale(1.05);

    transition: all 0.3s;
}

.background-button.dragging {
    opacity: .15;  
}

/* TOAST */
.toast {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: var(--background-color);
    box-shadow: 0 0 10px white;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.toast.active:hover {
    transform:scale(1.05);
}
  
.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #2770ff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: rgb(44, 77, 145);
}

.toast .close {
    color: #276fffa5;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 1;

    transition: all .5s;
}

.toast .close:hover {
    opacity: .5;
    transform:rotateZ(180deg);
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #2770ff;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

.toast.active ~ button {
    pointer-events: none;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

/* MEDIA */
@media only screen and (max-width: 950px) {
    .background-button,
    #main-container {
        width: 99%;
    }

    #search-bar {
        width: 100%;
    }

    .shortcut-button {
        min-width: 40px;
    }

    .sidebar {
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 30%;
    }

    #main-container {
        width: 35%;
    }
}
